ul {
  padding: 0;
}

ul, #user-profile, .form-buttons {
 margin: 0 2.5% 0 2.5%;
}
.entry {
  border: 1px solid black;
}

.entry >p {
  padding-left: 1.5%;
}

.uls {
  list-style-type: none;
}
.pagenos {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  background-color: paleturquoise;
  margin-top: 5px;
}

.pagenos:hover {
  cursor: pointer;
  background-color: coral;
}

#modality {
  text-decoration: underline;
}

.entry-title {
  text-decoration: underline;
}

#button-layout {
  /* display: grid;
  grid-template-columns: auto; */
}

#report {

  /* margin-bottom: 1%; */
  /* padding: 0; */
}

#user-profile {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: .5%;
  margin-bottom: 1%;
  width: 25%;
  border-bottom: 1px solid black;
}


.form-buttons > input {
  margin-bottom: .5%;
  display: inline-block;
  width: 100%;

}

#entry1 {
  background-color: goldenrod;
  color: white;
}

#entry2 {
  background-color: silver;
  color: white;
}

#entry3 {
  background-color: #cd7f32;
  color: white;
}

/* Progress Bar */
/* -Progress Bar- */
