ul, p, h4 {
  padding: 0;
  margin: 0;
}

h4,p {
  margin-bottom: 5px;
  padding: 4px;
}

#user-img {
  border: 1px solid black;
  border-right: none;
}


ul, #user-profile, .form-buttons {
 margin: 0 2.5% 0 2.5%;
}

.more-buttons {
  display: inline-block;
}
.entry {
  border: 1px solid black;
}

.entry >p {
  padding-left: 1.5%;
}

.uls {
  list-style-type: none;
}
.pagenos {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  background-color: paleturquoise;
  margin-top: 5px;
}

.pagenos:hover {
  cursor: pointer;
  background-color: coral;
}

#choose-sport, #choose-distance {
  text-decoration: underline;
}

.entry-title {
  text-decoration: underline;
}

#button-layout {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#report {

  /* margin-bottom: 1%; */
  /* padding: 0; */
}

#user-profile {
  display: grid;
  grid-template-columns: 9% 20% auto auto;
  margin-top: .5%;
  margin-bottom: 1%;
  width: 95%;
}


.form-buttons > input {
  margin-bottom: .5%;
  display: inline-block;
  width: 100%;
}

#user-info {
  /* background-color: lime; */
  border: 1px solid black;
}

#entry1 {
  background-color: goldenrod;
  color: white;
}

#entry2 {
  background-color: silver;
  color: white;
}

#entry3 {
  background-color: #cd7f32;
  color: white;
}

.ytd-totals {
  /* background-color: plum; */
  border: 1px solid black;
  border-left: none;
  display: inline-block;
}

.speed {
  display: inline-block;
}

/* Progress Bar */
/* -Progress Bar- */
