ul, p, h4 {
  padding: 0;
  margin: 0;
}

h4,p {
  margin-bottom: 5px;
  padding: 4px 0 4px 0;
}

#user-img {
  /* border: 1px solid black; */
  border-right: none;
}


ul, #user-profile, .form-buttons {
 margin: 0 2.5% 0 2.5%;
}


body {
  background-color: ivory;
}

.inner-entry {
  border: 1px solid coral;
  background-color: paleturquoise;
}

/* .inner-entry:hover {
  background-color: darkturquoise;
} */

/* .inner-entry:hover > p {
  color: ivory;
} */

.inner-entry > p, .detailed-entry > p {
  padding-left: 1.5%;
}

.detailed-entry {
  border: 2px solid orangered;
}

.page-no-uls, .entry-uls {
  list-style-type: none;
  margin-bottom: 1%;
}

.entry-uls {
  -webkit-box-shadow: 0 0 10px coral;
  box-shadow: 0 0 10px coral;
}

.pagenos {
  display: inline-block;
  border: 1px solid coral;
  padding: 5px 10px 5px 10px;
  background-color: paleturquoise;
  margin-top: 5px;
}

.pagenos:hover {
  cursor: pointer;
  background-color: coral;
}

#choose-sport, #choose-distance, #choose-format {
  /* text-decoration: underline; */
  margin-bottom: .5%;
  padding-bottom: 0;
}

.entry-title {
  text-decoration: underline;
  color: orangered;
  padding-left: 12.5px;
}

#user-profile {
  display: grid;
  grid-template-columns: 10% 20% auto auto;
  margin-top: .5%;
  margin-bottom: 1%;
  width: 95%;
  background-color: turquoise;
  border: 1px solid orangered;
  border-top: none;
  border-left: none;
  box-shadow: 2.5px 2.5px 5px 0px orangered;

}

#upper-section{
  width: 95%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  padding-top: 25px;
  border: 1px solid coral;
  -webkit-box-shadow: 0 0 10px coral;
  box-shadow: 0 0 10px coral;
  background-color: paleturquoise;
}


#button-layout {
  display: inline-block;
  width: 95%;
  display: grid;
  margin-left: 2.5%;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 10px;
  border: 1px solid orangered;
  border-top: none;
  border-left: none;
  background-color: turquoise;
  box-shadow: 2.5px 2.5px 5px 0px orangered;
}

#user-info {
  /* background-color: lime; */

  color: orangered;
  border-left: none;
}


#entry1 {
  background-color: goldenrod;
  color: ivory;
}

#entry1 > h4, #entry2 > h4, #entry3 > h4 {
  color: ivory;
}

#entry2 {
  background-color: silver;
  color: ivory;
}

#entry3 {
  background-color: #cd7f32;
  color: ivory;
}



.ytd-totals {
  background-color: turquoise;
  border-left: none;
  display: inline-block;
  padding-left: 5px;
  border-left: 1px solid coral;
}

.choose-title {
  color: orangered;
}

.ytd-totals-title {
  text-decoration: underline;
  color: orangered;
}



.speed {
  display: inline;
  padding: none;
}

#custom-distance {
  margin-top: 1.5%;
  margin-left: 5%
}




/* Progress Bar */
#progress-bar-container {
  height: 20px;
  width: 95%;
  border: 1px solid coral;
  box-shadow: 0 0 5px coral;
  background-color: coral;
  border-radius: 50px;
  margin: 1% 2.5% 1% 2.5%;

}
/* -Progress Bar- */
